<% layout("../layouts/boilerplate") %>
    <h1>REGISTER HERE</h1>
    <form action="/register" method="POST">
        <label for="username">Username: </label>
        <input type="text" placeholder="Name" name="username">

        <label for="email">Email: </label>
        <input type="email" placeholder="Email" name="email">
        <label for="password">Password: </label>
        <input type="password" placeholder="Password" name="password">
        <button>Submit</button>
    </form>